<h3>
   {{viewTile}}
</h3>

<form method="POST" action="/sp/add" autocomplete="off">
        <input type="hidden" value="{{sp._id}}" name="id">

    <div class="form-group">
        <label for="productName">Tên: </label>
        <input type="text" class="form-control" value="{{sp.Name}}" name="Name">
    </div>
    <div class="form-group">
        <label for="productName">Gia: </label>
        <input type="number" class="form-control" value="{{sp.Gia}}" name="Gia">
    </div>
    <div class="form-group">
        <label for="productName">Soluong: </label>
        <input type="number" class="form-control" value="{{sp.Soluong}}" name="Soluong">
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"> SUbmit </button>
          <a href="/sp/list" class="btn btn-primary"> Danh sachs</a>
    </div>
</form>